@model IEnumerable<DuLich_DH.Models.BinhLuan>



<h2 style="color: red; text-align:center">Review mới nhất</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNguoiBinhLuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BinhLuan1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaDiem.TenDiaDiem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNguoiBinhLuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BinhLuan1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaDiem.TenDiaDiem)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBinhLuan }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBinhLuan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBinhLuan })
        </td>
    </tr>
}

</table>
